@use '../utils/' as *;
.content {
  padding: 2em 2em 1em 2em;
  background-color: var(--White);
  margin-top: 2rem;
  border-radius: 0.7em;
  box-shadow: $shadow;
}
.profile {
  @include from(large) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1.5em 2em;
    align-items: center;
  }

  &__avatar {
    border-radius: 50%;
    width: 100px;
    float: left;
    margin-right: 1em;
    @include from(large) {
      width: 150px;
      position: relative;
      float: none;
      margin: 0;
    }
  }
  &__date {
    padding-top: 1em;
    @include from(large) {
      padding: 0;
    }
  }
  &__date-box {
    display: inline;
    @include from(large) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      align-items: center;
      grid-gap: 0.5em;
    }
  }
  &__name {
    margin: 0;
    padding-bottom: 0.3em;
    font-size: 1em;
    color: var(--Black);
    @include from(large) {
      padding: 0;
      font-size: 1.5em;
      width: 15rem;
    }
  }
  &__user {
    color: var(--Blue);
    margin-bottom: 0.5em;
    @include from(large) {
      grid-column: 1/4;
      margin-bottom: 0;
    }
  }
  &__fecha {
    @include from(large) {
      grid-column: 2/4;
      grid-row: 1/2;
      text-align: right;
    }
  }
  &__description {
    margin-top: 4em;
    margin-bottom: 2em;
    @include from(medium) {
      margin-top: 2em;
    }
    @include from(large) {
      grid-column: 1/4;
      margin: 0;
    }
  }
}
.stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: var(--Very-light);
  border-radius: 0.7em;
  padding: 1em;
  margin-bottom: 2em;
  @include from(medium) {
    text-align: left;
  }
  @include from(large) {
    grid-column: 2/3;
    margin: 0;
    padding-right: 4em;
  }
  &__value {
    font-weight: font(bold);
    color: var(--Black);
  }
}
.location {
  @include from(large) {
    grid-column: 2/3;
  }
}

.menu {
  @include from(medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.menu__item {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  > img {
    padding-right: 1em;
    filter: var(--filter-icon);
  }
}
