@use '../utils/' as *;
.form {
  background-color: var(--White);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 0.7em;
  box-shadow: $shadow;

  &__input {
    width: 68%;
    border: none;
    padding-left: 0.5em;
    outline: none;
    background-color: var(--White);
    color: var(--Light-blue);
    // @include from(large) {
    //   width: 68%;
    // }
  }
  &__button {
    border: none;
    background-color: var(--Blue);
    color: var(--White);
    border-radius: 0.7em;
    padding: 1em;
    cursor: pointer;
  }
  &__message {
    color: red;
    visibility: hidden;
  }
  .show-message {
    visibility: visible;
  }
}
