@use '../utils' as utl;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Dark-blue);
  &__title {
    font-weight: utl.font(bold);
  }
  &__theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    span {
      margin-right: 1rem;
    }
  }
}
