  // Breakpoints

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
// Colors
:root{

  --Blue: hsl(212, 100%, 50%);
  --Light-blue: hsl(217, 20%, 51%);
  --Dark-blue: hsl(217, 35%, 45%);
  --Dark-blue-darker: hsl(222, 41%, 20%);
  --Very-dark: hsl(217, 21%, 21%);
  --Very-dark-darker: hsl(220, 40%, 13%);
  --Very-light: hsl(227, 100%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black:#000
  --icon : #4b6a9b;
  --filter-icon: brightness(1);
}

$breakpoints: (
  small:                0,      //Moviles
  medium:               640px,  //desde 640px para tablets
  large:                1024px, //desde 1024px para laptops
);

$typography: (
  family:               ('Space Mono',monospace,),
  regular:              400,
  bold:                 700,
);



$shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);