@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

span {
  display: block;
}

:root {
  --Blue: hsl(212, 100%, 50%);
  --Light-blue: hsl(217, 20%, 51%);
  --Dark-blue: hsl(217, 35%, 45%);
  --Dark-blue-darker: hsl(222, 41%, 20%);
  --Very-dark: hsl(217, 21%, 21%);
  --Very-dark-darker: hsl(220, 40%, 13%);
  --Very-light: hsl(227, 100%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black:#000
  --icon : #4b6a9b;
  --filter-icon: brightness(1);
}

body {
  font-family: "Space Mono", monospace;
  font-size: 13px;
}
@media screen and (min-width: 640px) {
  body {
    font-size: 16px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 2rem 0;
}

.wrapper {
  max-width: 550px;
  padding: 0 1rem;
}
@media screen and (min-width: 640px) {
  .wrapper {
    width: 550px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 800px;
    width: auto;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--Dark-blue);
}
.header__title {
  font-weight: 700;
}
.header__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header__theme span {
  margin-right: 1rem;
}

.form {
  background-color: var(--White);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
  border-radius: 0.7em;
  -webkit-box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
          box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}
.form__input {
  width: 68%;
  border: none;
  padding-left: 0.5em;
  outline: none;
  background-color: var(--White);
  color: var(--Light-blue);
}
.form__button {
  border: none;
  background-color: var(--Blue);
  color: var(--White);
  border-radius: 0.7em;
  padding: 1em;
  cursor: pointer;
}
.form__message {
  color: red;
  visibility: hidden;
}
.form .show-message {
  visibility: visible;
}

.content {
  padding: 2em 2em 1em 2em;
  background-color: var(--White);
  margin-top: 2rem;
  border-radius: 0.7em;
  -webkit-box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
          box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

@media screen and (min-width: 1024px) {
  .profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 2em 1fr;
    grid-template-columns: auto 1fr;
    grid-gap: 1.5em 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.profile__avatar {
  border-radius: 50%;
  width: 100px;
  float: left;
  margin-right: 1em;
}
@media screen and (min-width: 1024px) {
  .profile__avatar {
    width: 150px;
    position: relative;
    float: none;
    margin: 0;
  }
}
.profile__date {
  padding-top: 1em;
}
@media screen and (min-width: 1024px) {
  .profile__date {
    padding: 0;
  }
}
.profile__date-box {
  display: inline;
}
@media screen and (min-width: 1024px) {
  .profile__date-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5em 1fr 0.5em 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto 0.5em auto 0.5em auto;
    grid-template-rows: repeat(3, auto);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 0.5em;
  }
  .profile__date-box > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .profile__date-box > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .profile__date-box > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .profile__date-box > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .profile__date-box > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .profile__date-box > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .profile__date-box > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .profile__date-box > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .profile__date-box > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
}
.profile__name {
  margin: 0;
  padding-bottom: 0.3em;
  font-size: 1em;
  color: var(--Black);
}
@media screen and (min-width: 1024px) {
  .profile__name {
    padding: 0;
    font-size: 1.5em;
    width: 15rem;
  }
}
.profile__user {
  color: var(--Blue);
  margin-bottom: 0.5em;
}
@media screen and (min-width: 1024px) {
  .profile__user {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .profile__fecha {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: right;
  }
}
.profile__description {
  margin-top: 4em;
  margin-bottom: 2em;
}
@media screen and (min-width: 640px) {
  .profile__description {
    margin-top: 2em;
  }
}
@media screen and (min-width: 1024px) {
  .profile__description {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    margin: 0;
  }
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  background-color: var(--Very-light);
  border-radius: 0.7em;
  padding: 1em;
  margin-bottom: 2em;
}
@media screen and (min-width: 640px) {
  .stats {
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .stats {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin: 0;
    padding-right: 4em;
  }
}
.stats__value {
  font-weight: 700;
  color: var(--Black);
}

@media screen and (min-width: 1024px) {
  .location {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 640px) {
  .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1em;
}
.menu__item > img {
  padding-right: 1em;
  -webkit-filter: var(--filter-icon);
          filter: var(--filter-icon);
}

body {
  background-color: var(--Very-light);
  color: var(--Light-blue);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.theme-dark {
  --Very-light: hsl(220, 40%, 13%);
  --White: hsl(222, 41%, 20%);
  --Black: hsl(0, 0%, 100%);
  --Dark-blue: hsl(0, 0%, 100%);
  --icon: hsl(0, 0%, 100%);
  --Light-blue: hsl(0, 0%, 100%);
  --filter-icon: brightness(5);
}
/*# sourceMappingURL=main.css.map */