@use '../utils/' as *;
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 2rem 0;
}
.wrapper {
  max-width: 550px;
  padding: 0 1rem;
  // margin: 2rem 0;
  @include from(medium) {
    width: 550px;
  }
  @include from(large) {
    max-width: 800px;
    width: auto;
  }
}
