body {
  background-color: var(--Very-light);
  color: var(--Light-blue);
  transition: all 0.2s;
}
.theme-dark {
  --Very-light: hsl(220, 40%, 13%);
  --White: hsl(222, 41%, 20%);
  --Black: hsl(0, 0%, 100%);
  --Dark-blue: hsl(0, 0%, 100%);
  --icon: hsl(0, 0%, 100%);
  --Light-blue: hsl(0, 0%, 100%);
  --filter-icon: brightness(5);
}
